{% extends 'base.html.twig' %}

{% block title %}Editer utilisateur{% endblock %}

{% block body %}
    <h1>Editer utilisateur</h1>

    {{ include('gestion_erreur.html.twig', {'error': error}) }}

    {{ include('Utilisateur/_form.html.twig', {'Button_label': 'Sauvegarder'}) }}

    <a href="{{ path('Utilisateur_index') }}">index</a>

    {{ include('Utilisateur/suppression.html.twig') }}
{% endblock %}
