{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Role</th>
                <th>MotDePasse</th>
                <th>mail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Utilisateur in Utilisateurs %}
            <tr>
                <td>{{ Utilisateur.id }}</td>
                <td>{{ Utilisateur.Prenom }}</td>
                <td>{{ Utilisateur.Role ? Utilisateur.Role|json_encode : '' }}</td>
                <td>{{ Utilisateur.mail }}</td>
                <td>
                    <a href="{{ path('Utilisateur_show', {'id': Utilisateur.id}) }}">PageModifier</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.Utilisateur.id == Utilisateur.id or is_granted('ADMIN') %}
                    <a href="{{ path('Utilisateur_edit', {'id': Utilisateur.id}) }}">edition</a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas trouve</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Utilisateur_new') }}">Creer</a>
{% endblock %}
