{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {{ include('gestion_erreur.html.twig', {'error': error}) }}

    {{ include('Utilisateur/forme.html.twig') }}

    <a href="{{ path('Utilisateur_index') }}">index</a>
{% endblock %}
