{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Utilisateurs.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ Utilisateurs.username }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ Utilisateurs.roles ? Utilisateurs.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>mail</th>
                <td>{{ Utilisateurs.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Utilisateurs_index') }}">index</a>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.Utilisateur.id == Utilisateurs.id or is_granted('ADMIN') %}
            <a href="{{ path('Utilisateurs_edit', {'id': Utilisateurs.id}) }}">edition</a>
            {{ include('Utilisateurs/suppression.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
