<form method="post" action="{{ path('Utilisateur_delete', {'id': Utilisateur.id}) }}" onsubmit="return confirm('Voulez vous le supprimer ?');">
    <input type="hidden" name="_method" value="SUPPRIMER">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Utilisateur.id) }}">
    <button class="Button">Supprimer</button>
</form>
