{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block header %}
    <h1><a href="{{ path('home') }}">Mon premier blog</a></h1>
    <a href="{{ path('signup') }}">Se connecter</a>
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Vous etes connectes {{ app.Utilisateur.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
    <label for="inputUsername">Utilisateur</label>
    <input type="text" value="{{ Nom_Famille }}" name="Utilisateur" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">MotDePasse</label>
    <input type="MotDePasse" name="MotDePasse" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="Button Button-lg Button-primary" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
