<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon premier blog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <h1><a href="{{ path('home') }}"}Mon premier blog</a></h1>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    <a href="{{ path('logout') }}">Deconnexion</a>
                {% else %}
                    <a href="{{ path('login') }}">Connexion</a>
                {% endif %}
            {% endblock %}
        </header>
        <body>
            {% block body %}{% endblock %}
        </body>
        {% block javascripts %}{% endblock %}
    </body>
</html>