{% extends 'base.html.twig' %}

{% block title %}Page modification{% endblock %}

{% block body %}
    <h1>Modifier ce que vous voulez</h1>

    {{ include('error_form.html.twig', {'error': error}) }}

    {{ include('Post/_form.html.twig', {'button_label': 'Sauvegarde'}) }}

    <a href="{{ path('home') }}">index</a>
    
    {{ include('Post/suppression.html.twig') }}
{% endblock %}
