{% extends 'base.html.twig' %}

{% block title %}Mon premier blog{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Title</th>
                <th>Publication</th>
                <th>Edition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Post in Posts %}
            <tr>
                <td>{{ Post.Content }}</td>
                <td>{{ Post.Title }}</td>
                <td>{{ Post.Publication ? Post.Publication|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Post.Edition ? Post.Edition|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('PageModifier', {'id': Post.id}) }}">PageModifier</a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                        {% if app.Utilisateur.IsHerPost(Post) or is_granted('ADMIN') %}
                            <a href="{{ path('Edition', {'id': Post.id}) }}">edition</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas trouve</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        <a href="{{ path('nouvelle') }}">Creer</a>
    {% endif %}
{% endblock %}
