{% extends 'base.html.twig' %}

{% block title %}Nouveau Post{% endblock %}

{% block body %}
    <h1>Creer un nouveau post</h1>

    {{ include('suppression.html.twig', {'error': error}) }}

    {{ include('Post/forme.html.twig') }}

    <a href="{{ path('home') }}">index</a>
{% endblock %}
