{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Post.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ Post.Content }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ Post.Title }}</td>
            </tr>
            <tr>
                <th>PublicationDate</th>
                <td>{{ Post.PublicationDate ? Post.PublicationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditionDate</th>
                <td>{{ Post.EditionDate ? Post.EditionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Returns</th>
                <td>
                    {{ include('return/tab.html.twig', {'return': Post.return) }}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}">index</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.Utilisateur.IsHerPost(Post) or is_granted('ADMIN') %}
            <a href="{{ path('edition', {'id': Post.id}) }}">Edition</a>

            {{ include('Post/suppression.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
