<form method="post" action="{{ path('supression', {'id': Post.id}) }}" onsubmit="return confirm('Supression de cette chose ?');">
    <input type="hidden" name="_method" value="SUPPRESSION">
    <input type="hidden" name="_token" value="{{ csrf_token('supression' ~ Post.id) }}">
    <button class="btn">Supprimer</button>
</form>
