{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}

{% block body %}
    <h1>Edition</h1>

    {{ include('forme.html.twig', {'error': error}) }}
    
    {{ include('return/forme.html.twig', {'button_label': 'Sauvegarde'}) }}

    <a href="{{ path('return_index') }}">index</a>

    {{ include('return/suppression.html.twig') }}
{% endblock %}
