{% extends 'base.html.twig' %}

{% block title %}Page Principale{% endblock %}

{% block body %}
    <h1>Page Principale</h1>

    {{ include('return/tab.html.twig', {'ownreturns': ownreturns)}}

    <a href="{{ path('return_new') }}">Creer</a>
{% endblock %}
