{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Creer Article</h1>

    {{ include('suppression.html.twig', {'error': error}) }}

    {{ include('return/forme.html.twig') }}

    <a href="{{ path('return_index') }}">index</a>
{% endblock %}
