{% extends 'base.html.twig' %}

{% block title %}return{% endblock %}

{% block body %}
    <h1>return</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ return.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ return.Content }}</td>
            </tr>
            <tr>
                <th>PublicationDate</th>
                <td>{{ return.PublicationDate ? return.PublicationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditionDate</th>
                <td>{{ return.EditionDate ? return.EditionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ return.Email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('return_index') }}">index</a>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        {% if app.user.IsHerReturn(return) or is_granted('ADMIN') %}
            <a href="{{ path('edition', {'id': return.id}) }}">edition</a>

            {{ include('return/_delete_form.html.twig') }}
        {% endif %}
    {% endif %}
{% endblock %}
