<form method="post" action="{{ path('return_suppression', {'id': return.id}) }}" onsubmit="return confirm('Voulez vous le supprimer ?');">
    <input type="hidden" name="_method" value="SUPPRIMER">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ return.id) }}">
    <button class="btn">Supprimer</button>
</form>
