<table class="table">
    <thead>
        <tr>
            <th>Content</th>
            <th>Publications</th>
            <th>Edition</th>
            <th>mail</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for return in returns %}
        <tr>
            <td>{{ return.Content }}</td>
            <td>{{ return.Publications ? return.Publications|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ return.Edition ? return.Edition|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ return.mail }}</td>
            <td>
                <a href="{{ path('PageModifier', {'id': return.id}) }}">PageModifier</a>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
                    {% if app.user.IsHerReturn(return) or is_granted('ADMIN') %}
                <a href="{{ path('edition', {'id': return.id}) }}">edition</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">Pas trouve</td>
        </tr>
    {% endfor %}
    </tbody>
</table>